PORT=
JWT_SECRET=
FRONTEND_URL=

# gemeni api key 
GEMINI_MODEL=
GEMINI_API_KEY=

# brevo
BREVO_API_KEY=
EMAIL_FROM=your_email@gmail.com

# turso
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# redis
REDIS_URL=

